antiorm==1.2.1
appdirs==1.4.4
atomicwrites==1.4.0
attrs==20.3.0
certifi==2020.11.8
colorama==0.4.4
coverage==5.3
db==0.1.1
db-sqlite3==0.0.1
distlib==0.3.1
et-xmlfile==1.0.1
filelock==3.0.12
flake8==3.8.4
importlib-metadata==2.1.1
iniconfig==1.1.1
jdcal==1.4.1
mccabe==0.6.1
numpy==1.19.4
openpyxl==3.0.5
packaging==20.7
Pillow==8.0.1
pluggy==0.13.1
py==1.9.0
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
pytesseract==0.3.6
pytest==6.1.2
pytest-cov==2.10.1
pytest-flake8==1.0.6
python-dateutil==2.8.1
pytz==2020.4
six==1.15.0
toml==0.10.2
tox==3.20.1
virtualenv==20.2.1
wincertstore==0.2
zipp==3.4.0
